
.chat-container {
    flex-grow: 1;
    overflow-y: auto;
    margin: 0;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fafafa;
    padding: 10px;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }
  
  .user-message {
    background-color: #d1ecf1;
    text-align: left;
  }
  
  .gpt-response {
    background-color: #d4edda;
    text-align: left;
  }
  
  .chat-input {
    position: fixed;
    bottom: 50px; /* フッターの高さ分だけ上に配置 */
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    margin-left: 200px;
  }
  
  .chat-input input {
    display: flex;
    align-items: flex-start;
  
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  .chat-input textarea {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif; /* フォントを統一する */
    font-size: 1rem; /* 読みやすいフォントサイズに設定 */
    resize: none; /* ユーザーによるリサイズを無効化 */
    overflow: auto; /* 自動的にスクロールバーが表示されるように設定 */
    height: auto; /* 初期の高さをautoに設定 */
    min-height: 50px; /* 最小の高さを設定 */
    max-height: 100px;
  }
  
  .chat-input-button-con {
    display: flex;
    flex-direction: column; /* 子要素を縦方向に並べる */
    align-items: flex-end; /* ボタンを右側に寄せる */
    /* ...その他のスタイル... */
  }
  
  .chat-input button {
    height: 40px; /* ここでボタンの高さを固定 */
    padding: 0 20px; /* ボタン内の左右のパディングを設定 */
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }
  
  .button-bottom-container {
    display: flex;
    flex-direction: column-reverse;
  }
  